h6{
    font-size: 1rem;
    font-weight: 500;
}

.btn{
    background-color: #090d4d;
    font-weight: 600;  
    width: 20vh;
    color : white;
}

input[type="text"]{
    width : 90%;
}

input[type="date"]{
    width : 40%;
}

select{
    width: 60%;
}

.extraSpan{
  font-size: 1rem;
  font-weight: 500;
}

.container{
    font-family: 'Montserrat';
}

/* Style the tab */
.tab {
    overflow: hidden;
}
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    border : 1px solid #8492A6;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgba(19, 206, 102,0.2);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
  }

#dniCreate{
  width: 100%;
}

#btnEditAccounts{
  width : 20%;
}

.groupLeftPersonal{
  padding-left: 15%;
}

.groupRightPersonal{
  padding-left: 5%;
}

#right1{
  width : 70%;
}

#right2{
  width: 70%;
}

#right3{
  width: 70%;
}

.custom-cont{
  display: grid;
    grid-template: 85px / 25% 75%;
}