.btn{
    background-color : #E5EBF3;
    margin : 2.5%;
    border-radius: 0%;
    font-size: 1.4rem;
    font-weight: bold;
    color : rgb(85, 87, 88);
    height: 65px;
}

button:disabled,
button[disabled]{
    opacity: 0.3;
}

.container{
    font-family: 'Montserrat';
}